@inject Services.Pessoa Pessoa

<h3>Pessoa</h3>

<input type="number" @bind="Pessoa.Idade" placeholder="Informe a Idade" />
<br />
<input type="text" @bind="Pessoa.Sexo" placeholder="Informe o sexo" />
<br />

<a href="/passo2">Ir para o passo 2</a>
@code {

}
